@import url(https://fonts.googleapis.com/css?family=Roboto);
body{
	width: 1024px;
	font-family: 'Roboto',serif;
	float: center;
	left:50%;
	margin-left:-512px; /* metade da largura fictícia */
	position:absolute;
}
}

h2{
	font-size: medium;
}

img{
	width:32px;
	height:32px;
	float: right;
	padding-right:10px;
	padding-left:10px;
}

tr:nth-child(even) {background: #FFF}
tr:nth-child(odd) {background: #58ACFA}

th{
	color: white;	
}

#header {
    background-color:#58ACFA;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    overflow:auto;
}
#nav {
    line-height:30px;
    height:100%;
    width:150px;
    float:left;
}
#section {
    width:70%;
    float:left;
    padding-left:40px;
    padding-top:0px;
    padding-right:10px;
    padding-bottom:10px;
}
#footer{
    background-color:#58ACFA;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}


#patrimonio{
	width:100%;
	float: ;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 150px;
}
ul li {
    position: relative;
}
li ul {
    position: absolute;
    left: 149px;
    top: 0;
    display: none;
}
ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    background: #58ACFA;
    padding: 5px;
    border: 1px solid #ccc;
}

* html ul li { float: left; }
* html ul li a { height: 1%; }
li:hover ul { display: block; }

.formLab { display:block; width:100%; float:left; padding-top: 10px; }
.form { display:block; width:64px; float:left; }
